/* CSS Reset */
* {
    margin: 0; 
    padding: 0
}

html {
    font-size: 80%;
}

body {
    background-color: white;
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.5;

    /* For fixing the sidebar position*/
    height: 100%;
    overflow-y: auto
}

a:link {
    color: black;
    text-decoration: none
}

a:visited {
    color: black;
    text-decoration: none
}

a:hover {
    color: gray;
    text-decoration: none
}

h1 {
    font-family: "PT Sans";
    margin-left: 0.2em;
    padding-top: 0.4em;
    padding-bottom: 0.6em;
    font-size: 3em;
    line-height: 1;
}

ul {
    list-style-type: none;
}

li {
    font-family: "PT Sans";
    font-size: 1em; /* roughly 12 point */
    margin-left: 0.6em;
}

li.subcategory {
    font-family: "PT Sans";
    font-size: 0.8em; /* roughly 10 point */
    margin-left: 1.6em;
}

img {

    max-width: 1000px;
    max-height: 1000px;
    height:auto;
}

.image {
    /*custom image css goes here*/
}

.menu {
    /*custom css for ALL menus goes here*/
    /*use ".name" selector for individual menu css*/
}

.menu-item {
    /*custom menu link css goes here*/
}

.page {
    /*custom css for ALL pages goes here*/
    /*use ".name" selector for individual page css*/
}

.page-link {
    /*custom page link css goes here*/
}

.table {
    /*custom table css goes here*/
    text-align: center;
    vertical-align: bottom;
    padding-right: 40px;
    padding-bottom: 40px;
}

.text {
    /*custom text css goes here*/
}

.text-block {
    /*custom text block css goes here*/
}

.web-link {
    /*custom web link css goes here*/
}

/*Sets word-wrapping */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}

.left {
    width: 30%;
    float: left;
    position: fixed;
    height: 4000px;
    background-color: white
}

.right {
    width: 70%;
	float: right;
}

/******************************/
/*** CUSTOM CLASSES GO HERE ***/
/******************************/

.align-left {
    text-align: left;
}

.green {
    color: green;
}